.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.login-container {
  height: 100vh;
  width: 100vw;
}
.login-container:before {
  background-image: url("./login_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position:fixed;
  content: '';
  -webkit-filter: blur(0.2rem);
  -moz-filter: blur(0.2rem);
  height: 100vh;
  width: 100vw;
}
.login-form {
  background-color: white;
  opacity: 0.8;
  padding: 2rem;
}
.login-fb-btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.81em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #4c69ba;
  border: 0.125rem solid #4c69ba;
  padding: 0.84rem 2.14rem;
  border-radius: 0.125rem;
}

.kpx_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.kpx_loginOr .kpx_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.kpx_loginOr .kpx_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}
.md-form .prefix ~ input {
  margin:0 !important;
  width: 100% !important;
}
.md-form .prefix ~ label {
  margin:0 !important;
}